* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:root {
    --primary-color: #E84545;
    --gray-color: #464646;
    --line-color: #F3F3F3;
}

.iconHammer, .iconDesign {
    color: #E84545;
    font-size: 56px;
}

@keyframes fadein {
    from { opacity:0}
    to {opacity: 1;}
}