@media (max-width: 1084px) {
    .touchContentRight {
        margin-left: 0;
    }
    /* .contentTouch {
        margin-left: 30px;
    } */
    .contactWrap {
        margin-left: 30px;
    }
}/* PC > PC low resolution < 1024px & < 1239px */
@media (min-width: 1024px) and (max-width: 1440px) {
    .hidden-l {
        display: none;
    }
    .wrapper {
        width: 100%;
    }
    
    .contentHome {
        padding: 17px;
        min-width: 200px;
        height: 76px;
        color: #fff;
        z-index: 1;
        opacity: 0.7;
    }

    .contentHome p{
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .contentHome.active {
        min-width: 200px;
        background: rgba(0, 0, 0, 0.5);
        border-left: 4px solid var(--primary-color);
        opacity: 1;
        margin-right: 40px;
    }

    .contentHome:last-child {
        margin-right: 0;
        margin-left: 15px;
    }

    .contentHomeCenter {
        width: 100%;
        position: relative;
        padding: 0 0 17px 23px;
        margin-right: 0;
    }
    .contentLeft {
        /* margin-left: 352px; */
        margin-right: 28px;
    
    }
    .contentRight {
        width: 50%;

    }

    .aboutHeadingtab {
        display: block;
        color: #fff;
        font-weight: 600;
        font-size: 5.6rem;
        line-height: 6.8rem;
        margin-bottom: 45px;
        text-transform: uppercase;
    }

    .aboutHeadingtab strong {
        font-size: 16rem;
        color: var(--primary-color);
    }

    .aboutHeadingtab span {
        margin-left: 100px;
    }

    .aboutDesc {
        margin-left: 100px;
    }
    .aboutMore.about {
        margin-left: 100px;
    }

    .prestigeHeading {
        font-size: 5rem;
    }

    .weDoContent .contentHeadingtab {
        display: block;
        color: #fff;
        font-weight: 600;
        font-size: 5.6rem;
        line-height: 6.8rem;
        text-transform: uppercase;
        position: relative;
    }

    .weDoContent .contentHeadingtab strong {
        color: var(--primary-color);
        font-weight: 700;
        font-size: 16rem;
        line-height: 19.5rem;
    }

    .weDoContent .contentHeadingtab span {
        margin-left: 128px;
    }

    .weDoContent .contentService {
        padding: 26px 20px;
    }

    .projectHeading {
        left: 0;
    }

    .aboutMore.project {
        margin-left: 40px;
    }
    .touchContentLeft {
        margin: 0;
    }
    .touchContentRight {
        flex: 1;
        margin-left: 50px;
    }

    .touchContent .contentHeading {
        font-size: 3.6rem;
        line-height: 40px;
    }
    .touchContent .contentHeading strong {
        font-size: 7.2rem;
        line-height: 95px;
    }

    .contentTouch {
        /* margin-left: 97px; */
        flex-direction: column;
        align-items: start;
        padding-left: 0;

    }

    .map {
        width: 100%;
        margin-top: 20px;
        padding: 0;
    }
    .map iframe {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .client {
        margin-top: 60px;
    }
    .clientWrapper {
        grid-template-areas: 
        'a a a'
        'b c d'
        'e f g';
    }

    .clientItem1 {
        margin-bottom: 24px;
    }
    
    .contactWrap {
        margin-left: 30px;
    }

}
/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m {
        display: none;
    }
    .aboutHeadingtab {
        display: block;
        color: #fff;
        font-weight: 600;
        font-size: 5.6rem;
        line-height: 6.8rem;
        margin-bottom: 45px;
        text-transform: uppercase;
    }

    .contentHome.active{
        min-width: 165px;
    }
    .contentRight {
        width: 50%;

    }
    .contentLeft {
        margin-right: 28px;
    
    }

    .aboutHeadingtab strong {
        font-size: 16rem;
        color: var(--primary-color);
    }

    .aboutHeadingtab span {
        margin-left: 100px;
    }

    .aboutDesc {
        margin-left: 100px;
    }
    .aboutMore.about {
        margin-left: 100px;
    }

    .prestigeHeading {
        font-size: 5rem;
    }

    .weDoContent .contentHeadingtab {
        display: block;
        color: #fff;
        font-weight: 600;
        font-size: 5.6rem;
        line-height: 6.8rem;
        text-transform: uppercase;
        position: relative;
    }

    .weDoContent .contentHeadingtab strong {
        color: var(--primary-color);
        font-weight: 700;
        font-size: 16rem;
        line-height: 19.5rem;
    }

    .weDoContent .contentHeadingtab span {
        margin-left: 128px;
    }

    .weDoContent .contentService {
        padding: 26px 20px;
    }    
    .projectHeading {
        left: 6.5%;
    }
    .projectItem {
        height: 540px;
    }

    .projectItem p {
        font-size: 3rem;
    }

    .itemTitle_2 {
        bottom: 18%;
        right: -70px;
    }
    .itemTitle_3,
    .itemTitle_4 {
        bottom: 9%;
        right: -34px;
    }

    .client {
        margin-top: 60px;
    }
    .clientWrapper {
        grid-template-areas: 
        'a a a'
        'b c d'
        'e f g';
    }

    .aboutMore.project {
        margin-left: 40px;
    }

    .clientItem1 {
        margin-bottom: 24px;
    }
    
    .contactWrap {
        max-width: 270px;
    }

    .touchContentLeft {
        margin: 0;
    }
    .touchContentRight {
        flex: 1;
    }

    .touchContent .contentHeading {
        font-size: 3.6rem;
        line-height: 40px;
        margin-left: 30px;
    }
    .touchContent .contentHeading strong {
        font-size: 7.2rem;
        line-height: 95px;
    }
    .contentTouch {
        flex-direction: column;
        padding-left: 0;
        margin-left: 40px;
    }

    .map {
        margin-top: 20px;
        width: 100%;
        padding: 0;
    }
    .map iframe {
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

@media (max-width: 900px) {
    .touchContent {
        display: block;
    }
    .touchContentLeft {
        position: relative;
        padding: 56.25%;
    }
    .touchContentLeft img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .contentTouch {
        flex-direction: row;
        margin-left: 0;
        padding-bottom: 60px;
    }
    .touchContent .contentHeading {
        font-size: 5.6rem;
        line-height: 6.8rem;
    }

    .touchContent .contentHeading strong {
        font-size: 16rem;
        line-height: 19.5rem;
    }
    .contactWrap {
        margin-left: 50px;
    }
    .map {
        width: 100%;
        padding: 0 10px ;
    }
    .map iframe {
        width: 100%;
        height: 100%;
    }
}
/* Mobile */
@media (max-width: 739px) {
    html {
        font-size: 62.5%;
    }

    .hidden-mobile {
        display: none;
    }
    
    .header {
        padding: 10px;
    }

    .headerLogo_link img {
        width: 40%;
        height: 40%;
    }
    .contentLeft{
        max-width: 600px;
    }

    .boxMenu {
        position: relative;
        width: 50px;
        height: 50px;
        background-clip: content-box;
        border-right: 25px solid var(--primary-color);
        border-left: 25px solid transparent;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }
    .boxMenu::after {
        width: 59px;
        left: -28px;
    }
    .boxMenu::before {
        width: 60px;
        left: -30px;
    }
    .item .searchIcon{
        width: 12px;
        top: -7px;
        left: -24px;
    }
    
    .item .menuIcon {
        width: 12px;
        top: -5px;
        left: 10px;
    }

    .item .shareIcon {
        width: 12px;
        top: 12px;
        left: -4px;
    }

    .item .langIcon {
        width: 12px;
        font-size: 8px;
        top: -24px;
        left: -4px;
    }

    .contentHomeCenter {
        margin: 0 23px;
    }

    .homeBackground {
        height: 500px;
    }

    .contentLeft {
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .contentAbout {
        display: block;
        margin-top: 50px;
    }

    .aboutImg {
        display: block;
    }
    .aboutImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .aboutHeadingtab {
        font-size: 2.6rem;
        line-height: 4.8rem;
        margin-bottom: 25px;
    }

    .aboutHeadingtab strong {
        font-size: 10rem;
        color: var(--primary-color);
    }

    .aboutHeadingtab span {
        margin-left: 50px;
    }
    .aboutDesc {
        width: 100%;
        margin-left: 50px;
    }

    .aboutMore.about {
        margin-left: 50px;
    }

    .prestigeHeading {
        font-size: 3rem;
    }
    .prestige {
        margin-top: 10%;
    }

    .projectItem {
        height: 540px;
    }
    .projectItem p {
        font-size: 3rem;
    }

    /* .itemTitle_2 {
        bottom: 12%;
        right: -52px;
    }
    .itemTitle_3,
    .itemTitle_4 {
        bottom: 6%;
        right: -24px;
    } */

    .weDoContent {
        flex-direction: column;
        padding: 40px 0;
    }
    .client {
        margin: 0;
    }

    .clientWrapper {
        grid-template-areas:
        'a a'
        'b c'
        'd e'
        'f g';
    }

    .clientItem2,
    .clientItem3,
    .clientItem4,
    .clientItem5,
    .clientItem6,
    .clientItem7 {
        border: none;
    }

    .touchContent {
        display: block;
    }
    .touchContentLeft {
        position: relative;
        padding-top: 56.25%;
    }

    .touchContentLeft img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .touchContentRight {
        margin-left: 0px;
    }
    
    .touchContent .contentHeading {
        margin-left: 10px;
    }

    .contentTouch {
        /* flex-direction: column; */
        margin-left: 0;
    }
    .contactWrap {
        margin-left: 50px;
    }

    .map {
        width: 100%;
    }

    .license {
        margin: 0 auto;
    }

    .menu {
        height: 500px;
    }
    .menuNav li {
        margin-bottom: 20px;
    }
}







@media (max-width: 676px) {
    .aboutDesc {
        max-width: 500px;
    }
    .contentLeft{
        width: 570px;
    }
    .projectHeading {
        top: 0;
        left: 0;
    }
}

@media (max-width: 570px) {
    .aboutDesc {
        max-width: 350px;
    }
    .contentLeft{
        width: 570px;
    }

    .touchContent .contentHeading {
        font-size: 5.6rem;
        line-height: 6.8rem;
    }

    .touchContent .contentHeading strong {
        font-size: 16rem;
        line-height: 19.5rem;
    }

    .contentTouch {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .contactWrap {
        max-width: 100%;
    }
}

@media (max-width: 444px) {
    .aboutDesc {
        max-width: 300px;
    }
    .contentLeft{
        width: 570px;
    }
    .menuItem {
        font-size: 2.2rem;
        line-height: 2.9rem;
    }
    .projectHeading {
        top: 0;
        left: 0;
        font-size: 3.6rem;
    }
    .projectHeading h3 {
        font-size: 3.6rem;
    }
}

@media (max-width: 360px) {
    .aboutDesc {
        max-width: 200px;
    }
    .contentLeft{
        width: 570px;
    }
}
